@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #E5E5E5;
}

/* Скидання всіх відступів */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Атрибути головного контейнеру сайту */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.visual-hidden {
  scale: 0;
  position: fixed;
  -webkit-transform: scale(0);
          transform: scale(0);
}

/* Логотип компанії */
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196F3;
  text-decoration: none;
}

.logo-header {
  color: #212121;
  margin-right: 70px;
}

.footer-logo-adress {
  margin-right: 70px;
}

/* хедер */
.header {
  border-bottom: 1px solid #ececec;
  background-color: #FFFFFF;
  position: relative;
}

/* силки хедеру */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .link {
    display: block;
    padding: 5px 0;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.list-force .carent {
  color: #2196F3;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header-navigation {
    display: none;
  }
}

.header-navigation .site-nav + .site-nav {
  margin-left: 50px;
}

@media screen and (min-width: 768px) {
  .container-mobile__menu {
    display: none;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196F3;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 48px 40px;
  background-color: #FFFFFF;
}

.menu-container.is-open {
  display: block;
}

.mobile-menu-soce__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-navigation,
.navigation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-navigation,
  .navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .mail-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mail-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 21px 0;
  }
}

@media screen and (min-width: 1200px) {
  .mail-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .mail-nav .site-nav + .site-nav {
    margin-left: 50px;
  }
}

.svg-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  fill: currentColor;
}

.site-nav {
  position: relative;
}

.carent::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  bottom: -34px;
  left: 0;
}

@media screen and (min-width: 1200px) {
  .carent::after {
    bottom: 0;
  }
}

/* Силки конатків навігації */
.list-force a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.list-force .link:hover,
.list-force .link:focus {
  color: #2196F3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Контакти */
.force-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.force-contact:hover, .force-contact:focus {
  color: #2196F3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* мейн-контент */
.main {
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/title/herov.jpg);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/title/herov.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .main {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 1199px) {
  .main__title {
    max-width: 360px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

@media screen and (min-width: 1200px) {
  .main__title {
    width: 696px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

/* конопка мейна */
.conteiner-main--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.main__btn:hover, .main__btn:focus, .main__btn:active {
  background-color: #188CE8;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* секція особливості */
.section-specifics {
  background-color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-specifics {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .specifics__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .specifics__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .specifics__list .specifics__item + .specifics__item {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .specifics__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .specifics__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .specifics__item {
    width: 270px;
  }
}

.specifics__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  max-width: 450px;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
}

@media screen and (min-width: 760px) {
  .specifics__img {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .specifics__img {
    max-width: 270px;
  }
}

.specifics__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

/* Наші послуги */
.poslygi {
  padding-bottom: 94px;
  background-color: #FFFFFF;
  position: relative;
}

@media screen and (max-width: 1199px) {
  .poslygi {
    display: none;
  }
}

.poslygi__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.poslygi__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.poslygi__list .poslygi__item + .poslygi__item {
  margin-left: 30px;
}

.poslygi__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transform: translate(30%, 30%);
          transform: translate(30%, 30%);
}

.poslygi__img {
  max-width: 100%;
  display: block;
}

.poslygi__item {
  position: relative;
}

.poslygi__item::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
}

/* наша команда */
.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
  }
}

.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team__list {
  margin: -15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .team__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    margin: 15px;
    width: calc((100% - 120px)/ 4);
  }
}

.team__img {
  width: 450px;
}

@media screen and (min-wdith: 768px) {
  .team__img {
    width: 354px;
  }
}

@media screen and (min-widht: 1200px) {
  .team__img {
    width: 270px;
  }
}

.tim-overlay {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .tim-overlay {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .tim-overlay {
    width: 270px;
  }
}

.tim-overlay__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}

.tim-overlay__profession {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* постійні клієнти */
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #FFFFFF;
  }
}

.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients__list {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) /2);
        flex-basis: calc((100% - 60px) /2);
    margin: 15px;
  }
  .clients__item:nth-child(n+5) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 90px)/3);
        flex-basis: calc((100% - 90px)/3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 180px)/6);
        flex-basis: calc((100% - 180px)/6);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__img,
.clients__link:focus .clients__img {
  fill: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (min-width: 768x) {
  .clients__link {
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__img {
  fill: #AFB1B8;
}

/* сторінка портфоліо */
.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-wdith: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.main-portfolio {
  background-color: #FFFFFF;
}

/* кнопки на сторінці портфоліо */
.btn-portfolio {
  padding: 6px 22px;
  Font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:hover, .btn-portfolio:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container {
  display: block;
}

@media screen and (max-width: 767px) {
  .list-itm-portfolio {
    margin-bottom: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 3 * 8px) / 3);
        flex-basis: calc((100% - 3 * 8px) / 3);
  }
  .list-itm-portfolio .portfolio-batn:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .list-itm-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-batn {
    margin-right: 8px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-batn {
    margin-left: 8px;
    margin-right: 0;
  }
}

.list a {
  text-decoration: none;
}

.lst-portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.00;
  color: #212121;
}

/* Картки портфоліо */
@media screen and (min-width: 768px) {
  .div-portfolio-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .div-portfolio-item {
    margin: -15px;
  }
}

.lst-portfolio {
  background-color: #FFFFFF;
}

.portfolio__link {
  display: block;
  max-height: 100%;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lst-portfolio-itm {
  margin-bottom: 15px;
}

.lst-portfolio-itm:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lst-portfolio-itm {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
  }
  .lst-portfolio-itm:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .lst-portfolio-itm {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
  }
  .lst-portfolio-itm:nth-child(n+7) {
    margin-bottom: 0px;
  }
}

.lst-portfolio-itm:hover .after-description::before,
.lst-portfolio-itm:hover .text-overlay,
.porfolio-link:focus .text-overlay,
.porfolio-link:focus .after-description::before {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-description {
  padding: 24px 20px;
  border: 1px solid #EEEEEE;
}

.lst-paragraph {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.after-description {
  position: relative;
  overflow: hidden;
}

.after-description::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  opacity: 0;
}

.card-img {
  display: block;
  max-width: 100%;
}

.text-overlay {
  position: absolute;
  top: 20%;
  left: 10%;
  -webkit-transform: translate(-20%, -10%);
          transform: translate(-20%, -10%);
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.porfolio-link {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-link:hover, .porfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

/* вікно бек-дропу */
.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.back-drop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Модельне вікно */
.model-wraper {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  padding-left: auto;
  padding-right: auto;
  -webkit-transform: translate(-50%, -45%) scale(1);
          transform: translate(-50%, -45%) scale(1);
  max-width: 450px;
  width: 100%;
  background-color: #FFFFFF;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .model-wraper {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .model-wraper {
    width: 528px;
  }
}

.title-form-back-drop {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

.main__btn:hover,
.main__btn:focus,
.main__btn:active {
  background-color: #188CE8;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn,
.btn-portfolio {
  cursor: pointer;
}

/* ікнока в імпутах врапера */
.svg-btn-close {
  z-index: 100;
}

.form-wraper-swg {
  position: absolute;
  top: -6px;
  left: 15px;
  -webkit-transform: translateY(6%);
          transform: translateY(6%);
  padding-top: 14px;
  padding-bottom: 14px;
}

.lable-wraper {
  position: absolute;
  left: 42px;
  top: 17px;
  -webkit-transform: translateY(-17%);
          transform: translateY(-17%);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.btn-back-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-back-drop:hover .svg-btn-close,
.btn-back-drop:focus .svg-btn-close {
  fill: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wraper:focus ~ .form-wraper-swg {
  fill: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* текстерія в формі model-wraper */
.texterea-form-wraper {
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline-color: #2196F3;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.texterea-form-wraper:focus + .texterea-lable-wraper {
  color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-form-wraper {
  position: relative;
}

.texterea-lable-wraper {
  position: absolute;
  left: 1px;
  top: -13px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-wraper-private {
  position: relative;
  margin-bottom: 30px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkboxe-type {
  position: relative;
}

.custom-chechbox {
  position: absolute;
  top: 3px;
  left: 0;
  margin-left: 14px;
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
  width: 16px;
  height: 15px;
  outline: 2px solid #212121;
  border-radius: 2px;
  outline-offset: -2px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-private-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.checkbox-private-input:checked + .custom-chechbox {
  background-color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-color: #2196F3;
}

.container-wraper-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* форма врапера */
.input-wraper {
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 28px;
  padding-left: 42px;
  outline-color: #2196F3;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.input-wraper:focus + .lable-wraper,
.input-wraper:not(:placeholder-shown) + .lable-wraper {
  color: #2196F3;
  -webkit-transform: translate(-40px, -33px);
          transform: translate(-40px, -33px);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-form-wraper {
  color: #2196F3;
}

.label-checkbox-type {
  margin-left: 36px;
}

/* соціальні мережі команди */
.team-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-social__item {
  margin-left: 10px;
  max-width: 450px;
}

.team-social__item:first-child {
  margin-left: 0px;
}

.team-social__icon {
  fill: #AFB1B8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__link:hover .team-social__icon,
.team-social__link:focus .team-social__icon {
  fill: #FFFFFF;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.team-social__link:hover, .team-social__link:focus {
  background-color: #2196F3;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-item {
  margin-left: 10px;
}

.svg-item:first-child {
  margin-left: 0px;
}

.svg-white {
  fill: #FFFFFF;
}

.link-inst:hover {
  background-color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Соціальні мережі футеру */
.link-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.link-svg:hover, .link-svg:focus {
  background-color: #2196F3;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-svg:hover .socials-svg,
.link-svg:focus .socials-svg {
  fill: #FFFFFF;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-svg:focus .socials-svg {
  fill: #FFFFFF;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soce-svg {
  margin-left: 156px;
  margin-top: 72px;
}

/* футер */
.container-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-footer {
    height: 463px;
  }
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196F3;
  text-decoration: none;
}

@media screen and (max-width: 1199px) {
  .footer-logo--padding {
    padding-left: 36px;
  }
}

.footer-logo-adress {
  margin-right: 70px;
}

.logo-footer {
  color: #FFFFFF;
}

.container-footer--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-footer--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer--flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.address {
  margin-top: 20px;
  text-decoration: none;
  font-style: normal;
  color: #FFFFFF;
}

.logo-bootom {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .logo-bootom {
    display: block;
    margin-bottom: 20px;
    padding-left: 0;
  }
}

@media screen and (max-width: 1199px) {
  .footer__list {
    padding-left: 36px;
    margin-bottom: 60px;
  }
}

.footer-list {
  margin-top: 9px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .svg-footer-socsety {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .svg-footer-socsety {
    margin-left: 50px;
  }
}

.footer-email {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact:hover, .footer-contact:focus {
  color: #2196F3;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-footer-socsety {
  margin-left: 30px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .list-footer-socsety {
    margin-bottom: 20px;
    margin-left: 0;
  }
}

/* форма футер */
.title-btn-footer {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-left: 70px;
}

@media screen and (max-width: 767px) {
  .title-btn-footer {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .title-btn-footer {
    margin-left: 44px;
  }
}

.btn-footer-form {
  width: 200px;
  height: 50px;
  margin-left: 70px;
  padding-left: 29px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-color: #188CE8;
}

@media screen and (max-width: 767px) {
  .btn-footer-form {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .btn-footer-form {
    margin-left: 12px;
  }
}

.btn-footer-form::after {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/svg/send.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-right: 28px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 10px;
}

.btn-footer-form:focus, .btn-footer-form:hover {
  background-color: #188CE8;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-footer {
  max-width: 454px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.03em;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  color: #FFFFFF;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .input-footer {
    width: 454px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .input-footer {
    width: 358px;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .container-form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media screen and (min-widht: 768px) {
  .container-form-footer {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container-form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .form-footer {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-footer {
    position: absolute;
    top: 130px;
    left: 220px;
    margin-top: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer {
    margin-left: 93px;
  }
}
/*# sourceMappingURL=main.css.map */