/* форма футер */

.title-btn-footer {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: $white-cl;
  margin-bottom: 20px;
}

.btn-footer-form {
  width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 12px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-color: #188CE8;

  &::after { 
    display: block;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/svg/send.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-right: 28px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 10px;
  }
  &:focus, &:hover { 
  background-color: $dark-blue-cl;
  transform: scale(0.9);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
}

.input-footer {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;

  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  color:$white-cl;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-form-footer {
  display: flex;
}

.form-footer {
  margin-left: 93px;
}
