
/* Логотип компанії */
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: $blue-cl;
    text-decoration: none;
}


.logo-header {
  color: $black-cl;
  margin-right: 70px;
}

// логотип футер//

.footer-logo-adress {

  margin-right: 70px;
}


