/* хедер */
.header {
  border-bottom: 1px solid #ececec;
  background-color: $white-cl;
   position: relative;
}

/* силки хедеру */
.link {
  @media screen and (min-width:768px) and (max-width:1199px) {
  display: block;
  padding: 5px 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);}

  @media screen and (min-width:1200px) {
    display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);}
  }

.list-force .carent {
  color: $blue-cl;
}

.header-navigation {
  @media screen and (max-width:767px) {
    display: none;
  }
  display: flex;
  & .site-nav+.site-nav {
  margin-left: 50px;
}
}
// меню для мобільної версії

.container-mobile__menu {
  @media screen and (min-width:768px){
    display: none;
  }
}

.menu-button {

  border:none;
  background-color:transparent;
  z-index: 100;
  cursor: pointer;

  &:hover,
  &:focus {
    fill:$blue-cl;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container__link-telephone {
  text-decoration: none;
font-weight: 500;
font-size: 32px;
line-height: 1.18;
letter-spacing: 0.02em;

color: #2196F3;
}

.menu-container__link-address {
  text-decoration: none;
font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.02em;

color: #757575;
}
// контейнер мобільного меню

.menu-container {
  display: none;
  position: fixed;
  overflow-y: scroll;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color:#fff;

  &.is-open {
    display: block;
    z-index: 100;
  }
}

.menu-container--fixed {
display: flex;
flex-direction: column;
height: 100%;
}
.menu-container-address__list {
  margin-top: auto;
}

.menu-container-address__item {
  width: 100%;
}

.menu-container__link-navigation {
  text-decoration: none;
  font-weight: 500;
font-size: 40px;
line-height: 1.18;
letter-spacing: 0.02em;
color: #212121;
}
.menu-container__item {
  padding: 0;

  &:hover .menu-container__link-navigation,
  &:focus .menu-container__link-navigation {
    color:$blue-cl;
  }
}

.menu-container__item--padding {
  margin-bottom: 32px;
  margin-top:32px;
}

.menu-container__list-address--padding {
  max-width: 231px;
  margin-top: 32px;
  margin-bottom: 64px;
}

// соціальні мережі мобільного меню

.mobile-menu-soce__list {
  display: flex;
  justify-content: space-between;
  max-width: 356px;
}

.mobile-menu-soce__item {
  margin-right: 20px;
  position: relative;
  &:last-child {
    margin-right:0;
  }
}

.mobile-menu-soce__link {
  text-decoration: none;
  position: relative;
font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: #2196F3;
}

.container-navigation,
.navigation {
   align-items: center;
  display: flex;

  @media screen and (max-width:767px) {
  align-items: center;
  display: flex;
  width: 100%;
  max-width: 450px;
  justify-content: space-between;
}
  @media screen and (min-width:768px) and (max-width:1199px) {
    justify-content: space-between;
  }
}

.container-mobile__menu {
  z-index: 100;
}

// біфор для силок навігації мобільного меню
.mobile-menu-soce__instagram::before {
  content:" ";
  position: absolute;
      top: 10px;
    left: 85px;
  display:block;
  width: 22px;
height: 0px;
border:1px solid rgba(33, 33, 33, 0.2);
transform: rotate(90deg);
}
.mobile-menu-soce__twitter::before {
  content:" ";
  position: absolute;
      top: 10px;
    left: 60px;
  display:block;
  width: 22px;
height: 0px;
border:1px solid rgba(33, 33, 33, 0.2);
transform: rotate(90deg);
}

.mobile-menu-soce__facebook::before {
  content:" ";
  position: absolute;
      top: 10px;
    left: -20px;
  display:block;
  width: 22px;
height: 0px;
border:1px solid rgba(33, 33, 33, 0.2);
transform: rotate(90deg);
}
.container-navigation {
  @media screen and (max-width: 767px){
    padding: 15px; 
  }
}

.mail-nav {
  @media screen and (max-width:767px) {
    display: none;
  }

  @media screen and (min-width:768px) and (max-width:1199px){
    display: flex;
    flex-direction: column;
    justify-content: center;
justify-content: space-between;
padding: 21px 0; }
  @media screen and (min-width:1200px) {
    display: flex;
   margin-left: auto;
  & .site-nav+.site-nav {
  margin-left: 50px;}}
}

.svg-header {
  justify-content: center;
  margin-right: 10px;
  fill: currentColor;
}

.site-nav {
  position: relative;
}

.carent::after {

  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background: $blue-cl;
  border-radius: 2px;
  bottom: -34px;
  left: 0;

  @media screen and (min-width:1200px) {
    bottom: 0;
  }
}

/* Силки конатків навігації */

.list-force a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $black-cl;
  text-decoration: none;
}

.list-force .link:hover,
.list-force .link:focus {
  color: $blue-cl;
  transform: scale(1.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Контакти */

.force-contact {
     display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $grey-cl;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
  color: $blue-cl;
  transform: scale(1.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);}
}